{% extends "index.html" %}

{% block title %} Наши новости {% endblock %}

{% load static %} {% block assets_header%}

<link rel="stylesheet" href="{% static 'css/articles/block-articles.css' %}" type="text/css">

{% endblock %}

{% block content %}


<div class='container'>
    <div class='container__title'>Наши новости</div>
    <div class='container__chapters'>
        <div class="container__chapters-first">
            <div class="container__chapters-title">Последние новости</div>
            <div class="blocks-recent">
                {% for article in articles  %}
                    <div class="blocks__item {% if article == articles|first %} blocks__item--row{% endif %}">
                    <img class="blocks__item-image {% if article == articles|first %} blocks__item-image--row {% endif %}" src="/media/{{ article.article_image }}" alt="">
                    <div class="blocks__item-data">{{article.article_date}}</div>
                    <div class="blocks__item-title">{{article.article_title}}</div>
                    <div class="blocks__item-text">{{article.article_text}}</div>
                    <a href="{% url 'articles:section' article.id %}" class="blocks__item-link">Читать статью ➝</a>
                </div>
                {% endfor %}                
            </div>
        </div>
        <div class="container__chapters-second">
            {% if popular_articles %}
                <div class="container__chapters-title">Популярные</div>
                <div class="blocks-popular">
                    {% for article  in popular_articles %}
                    
                        <div class="block__item">
                            <img class="blocks__item-image" src="{% static 'images/articles-2.jpg' %}" alt="">
                            <div class="block__item-info">
                                <div class="block__item-title">{{article.article_title}}</div>
                                <div class="block__item-data">{{article.article_date}}</div>
                                <a href="{% url 'articles:section' article.id %}" class="blocks__item-link">Читать статью ➝</a>
                            </div>
                        </div>
                    {% endfor %}
    
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}