
.container {
    max-width: 1300px;
    margin: 0 auto;
}

.container__navigation {
    display: flex;
}

.container__title {
    margin: 0 0 20px 0;
    
    font-weight: 700;
    font-size: 25px;
}

.container__text {
    max-width: 1100px;
    margin: 20px 0;
    font-size: 18px;
}

.account {
    padding: 100px 0;
    background-color: #efefef;
    line-height: 1.5;
}

.account__content{
    padding: 30px;
    background-color: white;
    border-radius: 10px;
}
.container__info {
    padding: 50px 0 5px 0;
    font-weight: 700;
    font-size: 30px;
    border-bottom: 1px solid #9ec1d0;
}

.form {
    max-width: 1100px;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}

.form__text {
    font-weight: 700;
}

.form__text-one {
    display: none;
}

#id_type_request_0:checked~.form__text-one {
    display: block;
}

.form__text-two {
    display: none;
}

#id_type_request_1:checked~.form__text-two {
    display: block;
}

.label-class {
    margin-left: -10px;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.application,
.request,
.application-hot {
    display: none;
}

#check_label-1:checked~.account__content .application {
    display: block;
}

#check_label-2:checked~.account__content .request {
    display: block;
}

#check_label-3:checked~.account__content .application-hot {
    display: block;
}

.tab-input {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
}

.account__tabs{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.tab-item {
    
    padding: 10px;
    background: white;
    cursor: pointer;
    display: inline-flex;
    padding: 15px;
    align-items: center;
    justify-content: center;
    color: black;
}


#check_label-3:checked ~ .account__tabs .tab-item:nth-child(1),
#check_label-1:checked ~ .account__tabs .tab-item:nth-child(2),
#check_label-2:checked ~ .account__tabs .tab-item:nth-child(3){
    background-color: #67b0d1;
    color: white;
}

.tab-item:first-child{
    border-radius: 10px 0 0 10px;
}
.tab-item:last-child{
    border-radius: 0 10px 10px 0;
}
a:hover {
    cursor: pointer;
}

.user{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.user__name{
    font-size: 30px;
    color:#67b0d1;
    font-weight: bold;
    margin-bottom: 10px;
}

.user__type{
    font-size: 20px;
    color: #656565;
    font-weight: 500;
}

.table__row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.table__row--header{
    border-bottom: 1px solid gray;
}

.application__table-row{
    display: grid;
    grid-template-columns: minmax(min-content, 100px) 1fr 1fr 1fr;
    background: rgb(240, 240, 240);
}

.application__table-row--header{
    background: rgb(224, 224, 224);
    padding: 10px;
}

.application__table-cell--header{
    font-weight: 600;
}

.application__table-cell{
    padding: 10px;
    
}

.application__table-row:hover{
    cursor: pointer;
    background: rgb(224, 224, 224);
}

.form__file{
    margin-bottom: 20px;
}

.form__message{
    margin-bottom: 20px;
}

#id_request_message{
    padding: 5px;
}