.wrapper__slide {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: 1s;
}

h1 {
    text-shadow: 1px 1px 1px #000;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 auto;
    color: white;
}

.slide-text {
    text-shadow: 1px 1px 1px #000;
    color: white;
    font-size: 30px;
    max-width: 340px;
    margin: 0 auto;
    margin-top: 15px;
    letter-spacing: 1px;
}

@media screen and (min-width: 768px) {
    .slide-text {
        max-width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    h1 {
        font-size: 64px;
    }
    .slide-text {
        max-width: 620px;
        font-size: 20px;
    }
}

@media screen and (min-width:1200px) {
    .slide-text {
        font-size: 30px;
    }
}