.container {
    max-width: 1400px;
    margin: 0 auto;
    padding-top: calc(63px + 20px);
    padding-bottom: 80px;
}

.container__title {
    font-weight: 700;
    font-size: 34px;
    padding: 20px;
    padding-left: 0;
    margin-bottom: 40px;
    border-bottom: 1px solid #4abef0;
    ;
}

.container__chapters {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}

.container__chapters-title {
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 30px;
}

.blocks__item {
    margin-bottom: 20px;
}

.block__item {
    margin-bottom: 20px;
}

.blocks__item-data,
.block__item-data {
    font-weight: 700;
    color: gray;
}

.blocks__item-title,
.block__item-title {
    font-weight: 700;
    font-size: 20px;
}

.blocks-recent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.blocks__item-data {
    margin: 10px 0 20px 0;
}

.blocks__item-text {
    color: gray;
    font-weight: 500;
    margin: 15px 0 20px 0;
}

.block__item {
    display: flex;
    gap: 15px;
}

.block__item-info {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.blocks__item-link,
.block__item-link {
    text-decoration: none;
    color: #4abef0;
    font-weight: 700;
}


@media (max-width: 1024px) {
    .container {
        margin: 0 20px;
        max-width: 1024px;
    }

    .blocks-recent,
    .container__chapters {
        grid-template-columns: 100%;
    }

}

@media (max-width: 768px){
    .container{
        margin-top: 30px;
    }
}

@media (min-width: 1025px) {
    .blocks__item--row {
        grid-column: 1 / span 2;
    }

    .blocks__item-image--row {
        width: 100%;
        max-height: 400px;
    }


}