{% extends 'index.html' %}
{% load static %}

{% block assets_header%}
    <link rel="stylesheet" href="{% static 'css/form-login/form-login.css' %}">
    <link rel="stylesheet" href="{% static 'css/register/register.css' %}">
{% endblock %}

{% block content %}

<div class="form-custom">
    <form method="post" class="form-custom__inner">
        <h2>Регистрация</h2>
        {% csrf_token %}
        {{form}}
            <input type="submit" value="Регистрация">
        <div class="action-links">
            <a class="btn btn-primary" href="{% url 'login' %}">Вернуться к авторизации</a>
            <a class="btn btn-default" href="{% url 'home:index' %}">Вернуться на главную</a>
        </div>
    </form>

</div>


{% endblock %}