{% extends "index.html" %} {% load static %} {% block assets_header%}

<link rel="stylesheet" href="{% static 'css/account/block-account.css' %}" type="text/css">

{% endblock %}
{% block content %}
<div class="account">
    <div class="container">

        <div class="account__inner">
            <div class="user">
                <div class="user__name">
                    {{data.client.client_name}}
                </div>
                <div class="user__type">
                    {{data.user.email}}

                </div>
            </div>
            <input type="radio" name='radio' class="tab-input" id='check_label-1' checked>
            <input type="radio" name='radio' class="tab-input" id='check_label-2'>
            <input type="radio" name='radio' class="tab-input" id='check_label-3'>
            <div class="account__tabs">
                <label class="tab-item" for='check_label-3'>Ваши срочные заявки</label>
                <label class="tab-item" for='check_label-1'>Ваши заявки</label>
                <label class="tab-item" for='check_label-2'>Подача заявки</label>
            </div>
            <div class="account__content">

                <div class='application-hot'>
                    <div class="container__title">Ваши срочные заявки</div>
                    <div class="container__text">Здесь представлены все ваши срочные заявки и их статусы. Если вы хотите
                        отправить
                        новую заявку, то заполните форму.</div>
                    <div class="application__table">
                        <div class="table__row table__row--header">
                            <div class="table__cell">Объект</div>
                            <div class="table__cell">Текст</div>
                            <div class="table__cell">Адрес</div>
                        </div>
                        {% for order in data.orders %}
                        <div class="table__row">
                            <div class="table__cell">{{order.order_object}}</div>
                            <div class="table__cell">{{order.order_text}}</div>
                            <div class="table__cell">{{order.order_address}}</div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class='application'>
                    <div class="container__title">Ваши заявки</div>
                    <div class="container__text">
                        Здесь представлены все ваши заявки и их статусы. Если вы хотите
                        отправить новую заявку, то заполните форму.</div>
                    <div class="application__table">
                        <div class="application__table-row application__table-row--header">
                            <div class="application__table-cell--header">№</div>
                            <div class="application__table-cell--header">Тип</div>
                            <div class="application__table-cell--header">Статус</div>
                            <div class="application__table-cell--header">Дата создания</div>
                        </div>

                        {% for request_user in data.requests_user %}
                        <div class="application__table-row">
                            <div class="application__table-cell">{{request_user.id}}</div>
                            <div class="application__table-cell">{{request_user.get_type_request_display}}</div>
                            <div class="application__table-cell">{{request_user.get_type_status_display}}</div>
                            <div class="application__table-cell">{{request_user.date}}</div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
                <div class='request'>
                    <div class="container__title">Подача новой заявки</div>
                    <div class="container__text">Информация о принятии заявления и присвоении номера заявки поступит на
                        e-mail адрес Заявителя, указанный в заполняемой форме. Заявитель будет оповещен о готовности
                        исполнения заявки. Информацию о статусе исполнения заявки можно наблюдать
                        на почте.
                    </div>


                    <form class="form" method="POST" enctype="multipart/form-data"
                        action="{% url 'home:send_request'%}">
                        {% csrf_token %}
                        <div class="form__text">Тип заявки:</div>

                        {% for radio in form.type_request %} {{ radio.tag }}
                        <label class="label-class" for="{{ radio.id_for_label }}">
                            {{ radio.choice_label }}
                        </label>
                        {% endfor %}

                        <div class='form__text-one'>
                            <p class='form__text-p1'>Заявление, подаваемое на получение технических условий должно
                                содержать
                                информацию согласно <a class='form__text-link'
                                    href='http://xn--80aaeak8acdhmgfdb4b1a8m4b.xn--p1ai/images/doc/1455792093_postanovlenie-83.rtf'
                                    download=''>Постановлению №83 от 13.02.2006.</a></p>
                            <p class='form__text-p2'>Форму заявления с примером заполнения можно скачать <a
                                    class='form__text-link'
                                    href='http://xn--80aaeak8acdhmgfdb4b1a8m4b.xn--p1ai/images/doc/1526898620_Zayavlenie_na_TU.doc'
                                    download=''>здесь</a>.</p>
                            <p class='form__text-p3'>Заявление должно иметь вид отсканированного бумажного оригинала,
                                содержащего подпись Заявителя. К заявлению также прикрепляются отсканированные копии
                                сопутствующих документов, перечень которых регламентируется вышеуказанным
                                Постановлением.
                            </p>
                        </div>
                        <div class='form__text-two'>
                            <p class='form__text-p1'>Заявление, подаваемое на подготовку договора о подключении к сетям
                                водоснабжения и(или) водоотведения должно иметь вид отсканированного бумажного
                                оригинала,
                                содержащего подпись Заявителя.</p>
                            <p class='form__text-p2'>Форму заявления с примером заполнения можно скачать <a
                                    class='form__text-link'
                                    href='http://xn--80aaeak8acdhmgfdb4b1a8m4b.xn--p1ai/images/doc/1526898607_Zayavlenie_na_Dogovor.doc'
                                    download=''>здесь</a>.</p>
                            <p class='form__text-p3'>Заявление должно иметь вид отсканированного бумажного оригинала,
                                содержащего подпись Заявителя.</p>
                        </div>
                        <div class="form__container">
                            <div class="form__file">

                                {{ form.request_file }}
                            </div>
                            <div class="form__message">
                                {{ form.request_message }}
                            </div>
                            <button type="submit">Отправить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}